
@font-face {
    font-family: 'Itim';
    src: url('../font-ltim/Itim-Regular.eot');
    src: url('../font-ltim/Itim-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font-ltim/Itim-Regular.woff2') format('woff2'),
    url('../font-ltim/Itim-Regular.woff') format('woff'),
    url('../font-ltim/Itim-Regular.ttf') format('truetype'),
    url('../font-ltim/Itim-Regular.svg#Itim-Regular') format('svg');
}
body{
    font-family: 'Itim', cursive;
    background-color: #FEF9E7;
}

.text-header{
    font-size: 2.10rem;
}
.t-d{
    color: #ff2020!important;
}
.t-r:after{
    content: "*";
    color: red;
}
.bg-d{
    background-color: #FFDEDE;
}
.bg-b{
    background-color: #e0e0e0;
}
.bg-8{
    background-color: rgba(0,0,0,0.8)
}
.bg-7{
    background-color: rgba(0,0,0,0.7)
}

.hover-shadow:hover{
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.5)!important;
}


.bg-comment{
    background: url('../img/bg-comments.png') no-repeat right 1px bottom 1px;
    background-size: cover;
}
.bg-cake{
    background: url('../img/bg-cake.png') no-repeat right 1px bottom 1px;
    background-size: cover;
}
.bg-doc{
    background: url('../img/bg-doc.png') no-repeat right 1px bottom 1px;
    background-size: cover;
}
.bg-unlock{
    background: url('../img/bg-unlock.png') no-repeat right 1px bottom 1px;
    background-size: cover;
}

.a-none{
    text-decoration: none;
}


.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}
.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.p-body{
    margin-top: 102px;
    min-height: 500px;
    padding-bottom: 40px;
}


/* ========= image ========= */
/* Zoom In image */
.imageZoomIn{
    border-radius: 0.30rem;
    transition: transform .2s; /* Animation */
}
.imageZoomIn:hover {
    transform: scale(1.05);
}

/* gallery modal */
.galleryModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* gallery modal content */
.galleryModal-content {
    margin: auto;
    display: block;
    width: auto;
    height: auto;
    max-height: 90%;
    max-width: 90%;

    animation-name: zoom;
    animation-duration: 0.6s;
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
/* gallery modal Close Button */
#closeGallery {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
#closeGallery:hover,
#closeGallery:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .galleryModal-content {
        width: 96%;
    }
}

/* ========= image ========= */
.carouse-next {
    right: 0;
}
.carouse-pre,.carouse-next{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
    border: 0;
    background-color: rgba(250,250,250,0.0);
}
.carouse-next:hover, .carouse-next:focus,
.carouse-pre:hover, .carouse-pre:focus {
    text-decoration: none;
    outline: 0;
    color: white;
    background-color: rgba(250,250,250,0.9);
}
